@model UniversityCanteenFoodOrderingSystem.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeletedByUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeletedByUser)
        </dd>
    </dl>
</div>

<!-- View Items Button -->
<button class="btn btn-secondary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#orderItemsCollapse">
    View Items
</button>

<!-- Collapsible Item List -->
<div class="collapse" id="orderItemsCollapse">
    <div class="card card-body">
        <h5 class="mb-3">Ordered Items</h5>
        <table class="table table-bordered table-sm">
            <thead class="table-light">
                <tr>
                    <th>Item ID</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detail in Model.OrderDetails)
                {
                    <tr>
                        <td>@detail.MenuItemId</td>
                        <td>@detail.MenuItem?.Name</td>
                        <td>@detail.Quantity</td>
                        <td>@(detail.Price.ToString("C"))</td>
                        <td>@((detail.Quantity * detail.Price).ToString("C"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
